In [1]:
#importing libraries
from __future__ import print_function
import pandas as pd
import os
#checking environmental variable
print (os.getenv("PUIDATA"))

/nfshome/soa238/PUIdata

In [2]:
#pulling data from URL
url = 'https://data.cityofnewyork.us/resource/vapd-jixs.csv'
pd.read_csv(url)

   base_salary  loaded_fringes                     rank
0      69862.0        137747.0       Correction Officer
1      90801.0        175238.0                  Captain
2     110762.0        216784.0  Assistant Deputy Warden
3     134664.0        260906.0      Deputy Warden/ DWIC
4     171196.0        306864.0                   Warden

In [3]:
pd.read_csv(os.getenv("PUIDATA") + "/Average_Salaries_In_Department_Of_Correction.csv")

                      Rank  Base Salary  Loaded + Fringes
0       Correction Officer      69862.0          137747.0
1                  Captain      90801.0          175238.0
2  Assistant Deputy Warden     110762.0          216784.0
3      Deputy Warden/ DWIC     134664.0          260906.0
4                   Warden     171196.0          306864.0

In [4]:
pd.read_csv(os.getenv("PUIDATA") + "/Average_Salaries_In_Department_Of_Correction.csv")

                      Rank  Base Salary  Loaded + Fringes
0       Correction Officer      69862.0          137747.0
1                  Captain      90801.0          175238.0
2  Assistant Deputy Warden     110762.0          216784.0
3      Deputy Warden/ DWIC     134664.0          260906.0
4                   Warden     171196.0          306864.0